*{
    padding:0;
    margin:0;
     font-family: 'poppins',sans-serif;

}
body{
    background-color: black;

}
.main{
    background-image:url("assets/images/netflix.bg.j.jpg");
    background-position:center center;
    background-repeat: no-repeat;
    background-size: max(1000px,100vw);
    height:80vh;
    position:relative;
    opacity:0.80

}
.main.box{
    height:80vh;
    width:100%;
    opacity: 0.8;
    background-color:aliceblue;
    position:absolute;
    top: 0;

}
.main input{
    padding:7px 101px 8px 14px;
    color: aliceblue;
    border-radius: 4px;
    border-color: aliceblue;
    font-weight: 400;
    


}
nav{
    max-width: 80vw; 
    padding:20px 20px;
    justify-content:space-between;
    margin: auto; 
    display:flex;
    align-items:center;
    height:64px
}
nav img{
    color:chartreuse;
    width: 120px;
    position:relative;
    z-index:10;
}

nav button{
    position:relative;
    z-index:10;
}
.hero{
   
    height:81%;
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    position:relative;
    padding: 0;


}

.separation{
    height: 3px;
    background-color: gray;
}
.btn{
    padding:10px 15px;
    font-weight: 400;
    font-size:15px;
    color: antiquewhite;
    background-color:rgba(213, 207, 207, 0.129);
    border-radius: 4px;
    border: 1px solid white;
    cursor:pointer;

    
}



.btn-secondary{
    background-color:red ;

}
.btn-third{
    background-color: red;
    font-weight: 400;
}
.main input{
padding:11px 30px;
    font-weight: bold;
    font
    font-size:11px;
    background-color: rgb(23,23,23,0.2);
    
}

.first{
    display: flex;
    justify-content: center;
    max-width: 70vw;
    margin: auto;
    color: white;
    justify-content: center;
    align-items: center;


}

.secImg{
    position:relative;

}
.secImg img{
    width: 401px;
    position: relative;
    z-index: 10;
}

.secImg video{
    position:absolute;
    top:51px;
    right:0;
    width: 401px;
}
section.first> div{
    display:flex;
    flex-direction: column;
    padding: 34px 0;
    
}
.first>div :first-child{
    font-size: 48px;
    font-weight: bolder;

}
.first>div :nth-child(2){
    font-size: 24px;
    font-weight: bolder;
    
}
.faq h2{
    text-align: center;
    color: white;
}
.faq{
    background-color: black;
    color: white;
    font-size: 24px;
    padding: 34px;
    
}
.faqbox:hover{
    color: white;
    background-color: rgb(77, 79, 75);
   
}
.faqbox{
    color: white;
     transition: all 1s ease-out;
    font-size: 24px;
    display: flex;
    justify-content: space-between;
    background-color:grey;
    padding:24px;
    max-width: 40vw;
    margin: 34px auto;
    width: 100%;
    color: aliceblue;
    cursor:pointer;
}
footer{
    color: white;
    max-width: 60vw;
    margin: auto;
    padding: 14px;
}
footer .questions{
    padding: 34px 0;
}
.footer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    color: white;
    
}
@media screen and (max-width:1300px){
    .first{
        flex-wrap: wrap;
    }
   .secImg img{
    width: 305px;
}
.secImg video{
    width: 305px;
   
}
    
}
@media screen and (max-width:1300px){
    .footer{
    display: grid;
    grid-template-columns: 1fr  1fr;
    gap: 25px;
    color: white;
    
}
    
}
.footer a{
    font-size: 15px;

    color: white;

}
.footer-item{
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
}